.card{
    box-shadow: 0 0 4px gray;
    border-radius: 5px;
}
.divider{
    margin: 5px 0;
    border-bottom: 1px solid gray;
}
.option{
    box-shadow: rgba(0, 0, 0, 0.6)0px 0px 1.5px;
    padding: 10px;
    border-radius: 2px;
}
.selected-option{
    box-shadow: rgba(0, 0, 0, 0.6)0px 0px 1px;
    padding: 10px;
    border-radius: 2px;
    border: 2px solid var(--primary);
}
.lottie-animation{
    height: 250px;
}
.dashboardComponent{
    height: 120px;
    text-align: center;
    padding-top: 15px;
}
.timer{
    background-color: whitesmoke;
    color: Red;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.prof{
    list-style: none;
}
.profilepic{
    padding: 10px;
}
.result{
    background-color: rgb(245, 222, 179);
    box-shadow:inset rgba(96, 86, 86, 0.6)0 0 10px;
    padding: 30px;
    color: black; 
    border-radius: 5px;
}
.loader-parent{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    height: 70px;
    width: 70px;
    border: 4px solid #f3f3f3;
    border-left-color: transparent;
    border-radius: 50%;
    animation: loader 1s linear infinite;
}
@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}